// Spacing
$sp-xs: .4rem;
$sp-sm: .8rem;
$sp-md: 1.6rem;
$sp-lg: 2.4rem;
$sp-xl: 3.2rem;

$xsp-xs: 4rem;
$xsp-sm: 4.8rem;
$xsp-md: 5.6rem;
$xsp-lg: 6.4rem;
$xsp-xl: 7.2rem;

// Generic Sizes
$s1: .1rem;
$s2: .2rem;
$s3: .3rem;
