@use "./colors" as c;
@use "./variables" as v;
@use "./reset";

html {
  --darkBlue: hsl(209, 23%, 22%);
  --veryDarkBlueBackground: hsl(207, 26%, 17%);
  --veryDarkBlueText: hsl(200, 15%, 8%);
  --darkGray: hsl(0, 0%, 52%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --background: var(--veryLightGray);
  --text: var(--veryDarkBlueText);
  --elements: var(--white);
  --input: var(--darkGray);

  &.dark {
    --background: var(--veryDarkBlueBackground);
    --text: var(--white);
    --elements: var(--darkBlue);
  }
}

body {
  background-color: c.$background;
  color: c.$text;
  font-family: 'Nunito Sans', sans-serif;
  font-size: v.$fs-sm;
  overflow-x: hidden;
  transition: v.$transition;
}
