@use "/src/styles/colors" as c;
@use "/src/styles/variables" as v;

.header {
  background-color: c.$elements;
  box-shadow: v.$shadow;
  height: 8.8rem;
  position: relative;
  z-index: 1;
  
  &__container {
    align-items: center;
    display: flex;
    height: 100%;
    margin: auto;
    max-inline-size: clamp(28rem, 85vw, 144rem);
    width: 100%;
  }

  &__theme {
    align-items: flex-end;
    cursor: pointer;
    display: flex;
    gap: v.$sp-md;
    margin-inline-start: auto;

    p {
      font-weight: v.$fw-semi;
    }
  }
}
