@use "/src/styles/colors" as c;
@use "/src/styles/variables" as v;

.button {
  background-color: c.$elements;
  border-radius: v.$sz-2;
  box-shadow: 0 0 v.$sz-2 v.$sz-2 rgba(0, 0, 0, 0.1);
  color: c.$text;
  cursor: pointer;
  display: flex;
  gap: v.$sp-sm;
  padding-block: v.$sp-xs;
  padding-inline: v.$sp-lg;
  transition: v.$transition;

  &:hover,
  &:active {
    background-color: c.$background;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    background-color: c.$background;
    outline: v.$sz-1 solid c.$input;
  }
}
