@use "/src/styles/colors" as c;
@use "/src/styles/variables" as v;

.select {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;

  &__wrapper {
    align-items: center;
    background-color: c.$background;
    border-radius: v.$sz-4;
    box-shadow: v.$shadow;
    color: c.$text;
    cursor: pointer;
    display: flex;
    height: v.$big-sz-6;
    gap: v.$sp-sm;
    justify-content: space-between;
    padding-inline: v.$sp-md;
    position: relative;
  }

  &__options {
    background-color: c.$background;
    box-shadow: v.$shadow;
    border-radius: v.$sz-4;
    color: c.$text;
    left: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: calc(100% + v.$sp-sm);
    transition: v.$transition;
    width: 100%;
    z-index: 1;

    &.active {
      max-height: 50rem;
      opacity: 1;
    }

    .option {
      padding: v.$sp-md;
      
      &:hover {
        background-color: c.$elements;
      }
    }
  }
}
