@use "/src/styles/colors" as c;
@use "/src/styles/variables" as v;

.container {
  height: 100%;
  margin: auto;
  max-inline-size: clamp(28rem, 85vw, 144rem);
  padding-block: v.$sp-lg;
  width: 100%;

  background-color: c.$background;
}

.list {
  display: grid;
  gap: v.$sp-lg;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  margin-inline: auto;
  padding-block-start: v.$xsp-xs;
}

.card {
  background-color: c.$elements;
  border-radius: v.$sz-4;
  box-shadow: v.$shadow;
  cursor: pointer;
  max-inline-size: 30rem;
  overflow: hidden;
  transition: v.$transition;

  &:hover {
    transform: scale(1.05);
  }

  h2 {
    font-size: v.$fs-md;
  }

  &__info {
    padding: v.$sp-lg;
  
    span {
      font-weight: v.$fw-semi;
    }
  }
}

.controls {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: v.$sp-sm;
  justify-content: space-between;

  > * {
    width: 24rem;

    @media (width < 600px) {
      width: 100%;
    }
  }
}
